prpertiesIKnow {
  text-transform: lowercase;
  color: red;
  letter-spacing: 0ch;
  font-weight: 2px
}
measurement available in css are 
absoulte - inches, centimeters, points 
relative - percentages and em